<nav class="mb-3">{{> navbar}}</nav>
<div class="container py-4">
      <div class="row row-cols-2">
        <div class="col">
          <form action="/profile/?_method=PATCH" method="POST">
            <p class="h2 border-bottom">Profile</p>
            <div class="mb-3 text-left">
              <label for="full-name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="full-name"
                value="{{user.name}}"
								name="name"
              />
            </div>
            <div class="mb-3 text-left">
              <label for="full-name" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                value="{{user.email}}"
								name="email"
              />
            </div>
            <div class="mb-3 text-left">
              <label for="profile" class="form-label">Profile Picture</label>
            </div>
            <div class="mb-3 text-left">
              <img
                id="avatar-img"
                src="{{user.avatar}}"
                alt="avatar image"
              />
            </div>
            <input
              type="text"
              class="form-control"
              id="full-name"
              value="{{user.avatar}}"
							name="avatar"
            />
            <button class="btn btn-success">Save Changes</button>
          </form>
        </div>
        <div class="col">
          <p class="h2 border-bottom">My Listings</p>
					<a href="/houses/create">
					<button class="btn btn-success">List a House</button></a>
					<div class="result-card" style="max-width: 540px;">
						<div class="row g-0">

						</div class="col-md-4">
						{{#each myHouses as |house|}}
						
						<img
							src="{{house.photos.[0]}}"
							class="img-fluid rounded-start"
							alt="house_01_01"
						/>
						<div class="card-body">
							<h7 class="card-title"
								><i class="fa-solid fa-location-dot"></i> {{house.location}} • {{house.rooms}}
								Rooms</h7
							>
							<h5 class="card-title">{{house.title}}</h5>
							<span class="text-success"
								><i class="fa-solid fa-thumbs-up"></i></span
							><span> 1 Reviews</span>
							<span class="text-end"> ${{house.price}}/night</span>
						</div>
						<a href="/houses/{{house._id}}/edit">
						<button type="button" class="btn btn-outline-secondary btn-sm">Edit</button></a>
						<a href="/houses/{{house._id}}">
						<button type="button" class="btn btn-outline-success btn-sm">View</button></a>
						{{/each}}
					</div>
        </div>
      </div>
    </div>

    <!--END PROFILE SECTION-->
