<nav class="mb-3">{{> navbar}}</nav>
<!--VERSION 2 COMPLETED FORM-->

<div class="container">
	<form action="/houses/{{house._id}}/edit/?_method=PATCH" method="POST">
		<p class="h1">Edit House</p>
		<div class="mb-3">
			<label for="title" class="form-label">Short Title</label>
			<input
				class="form-control"
				name="title"
				value="{{house.title}}"
			/>
		</div>
		<div class="mb-3">
			<label for="description" class="form-label">Description</label>
			<textarea class="form-control" name="description" rows="6" value="{{house.description}}">
</textarea>
		</div>
		<div class="mb-3">
			<label for="title" class="form-label">Number of Rooms</label>
			<input class="form-control" name="number-of-rooms" value="{{house.rooms}}" />
		</div>
		<div class="mb-3">
			<label for="title" class="form-label">Location</label>
			<select
				class="form-select"
				aria-label="Default select example"
				name="location"
			>
				<option>Koh Phangan</option>
				<option selected>Koh Samui</option>
				<option>Bali</option>
			</select>
		</div>
		<div class="col-auto">
			<label for="title" class="form-label">Price (per night)</label>
			<div class="input-group">
				<div class="input-group-text">
					<i class="fa-sharp fa-solid fa-dollar-sign"></i>
				</div>
				<input
					type="text"
					class="form-control"
					id="autoSizingInputGroup"
					name="price"
					value="{{house.price}}"
				/>
			</div>
		</div>

		<div class="mb-3">
			<label for="formFile" class="form-label">Add Photos (up to 9)</label>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
			<input
				class="form-control"
				for="img-link"
				name="photos"
				placeholder="https://..."
			/>
		</div>
		<button class="btn btn-success">Submit</button>
	</form>
</div>

<!--END OF VERSION 2 COMPLETED FORM-->
