<nav class="mb-3">{{> navbar}}</nav>
<form>
      <div class="container py-4">
        <div class="row row-cols-4">
          <!--House 1-->
					{{#each houses as |house|}}
          <div class="col">
            <div class="card mb-3">
              <a
                href="/houses/{{house._id}}"
                class="stretched-link"
              ></a>
              <img
                src="{{house.photos.[0]}}"
                class="card-img-top"
                alt="house_01_01"
              />
              <div class="card-body">
                <h7 class="card-title"
                  ><i class="fa-solid fa-location-dot"></i> {{house.location}} • {{house.rooms}}
                  Rooms</h7
                >
                <h5 class="card-title">{{house.title}}</h5>
                <span class="text-success"
                  ><i class="fa-solid fa-thumbs-up"></i></span
                ><span> 1 Reviews</span>
                <span class="text-end"> ${{house.price}}/night</span>
              </div>
            </div>
          </div>
					{{/each}}
        </div>
      </div>
    </form>
