<nav class="mb-3">{{>navbar}}</nav>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <img
            src="{{house.photos.[0]}}"
            class="img-fluid"
            alt="photo 1"
          />
        </div>
        <div class="col">
          <div class="container">
            <div class="row row-cols-3 g-3">
							{{#each house.photos as |photo|}}
              <div class="col">
                <img
                  src="{{photo}}"
                  class="img-fluid"
                  alt="img1"
                />
              </div>
							{{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--BEGIN BOTTOM SECTION-->
    <div class="container py-4">
      <div class="row row-cols-2">
        <div class="col">
          <form>
            <p class="h1">{{house.title}}</p>
            <p><i class="fa-solid fa-location-dot"></i> {{house.location}} • {{house.rooms}} Rooms</p>

            <div class="card mb-3" style="max-width: 150px;">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="{{house.host.avatar}}"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text">
                      <small class="text-muted">Hosted by</small>
                    </p>
                    <p class="card-title">{{house.host.name}}</p>
                  </div>
                </div>
              </div>
            </div>
            <p>{{house.description}}</p>
            <p class="h2">0 Reviews</p>
            <div class="mb-3">
              <label for="leave-a-review" class="form-label"
                >Leave a Review</label
              >
              <textarea
                class="form-control"
                for="description"
                rows="6"
              ></textarea>

              <a href="a" type="button" class="btn btn-outline-success">
                <i class="fa-solid fa-thumbs-up"></i>
              </a>

              <a href="a" type="button" class="btn btn-outline-danger">
                <i class="fa-solid fa-thumbs-down"></i>
              </a>
            </div>

            <button class="btn btn-success">Submit</button>
          </form>
        </div>
        <div class="col">
          <p class="h2">$ {{house.price}}/night</p>
          <p>0 Reviews</p>
          <div class="mb-3">
            <label for="requestBooking" class="form-label"></label>
						<form action='/bookings' method='post'>
            <textarea
              class="form-control"
              rows="4"
							name="description"
              placeholder="Send the host a message..."
            ></textarea>
						<input type="hidden" name="house" value="{{house._id}}">
            <button class="btn btn-success">
              Request a Booking
            </button>
					</form>
          </div>
        </div>
      </div>
    </div>
